header {
  background-color: #fff;
  border-bottom: 2px solid darken($lt-grey, 5%);
  padding-top: $space;
  padding-bottom: $space;
}
// Change text colors. New Years is joyful, so the header should be too! ;)
@keyframes happy-text {
  0%   { color: $mint; }
  25%   { color: $orange; }
  50%   { color: $pink; }
  75%   { color: $blue; }
}
.page-title {
  color: $mint;
  text-align: center;
  animation: happy-text 5s ease-in 0s infinite alternate;
}
.flourish:before,
.flourish:after {
  content:'✨';
  padding: 0 15px;
}