#lightbox-wrapper {
  position: fixed;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  &.inactive {  
    visibility: hidden;
  }
  &.active { 
    visibility: visible; 
    z-index: 10;
  }
}
.lightbox-content {
  position: relative;
  max-width: 500px;
  margin-top: 40px;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.lightbox-image {
  img {  box-shadow: 3px 15px 35px #000; }
}
.lightbox-image_title {
  margin-top: $space;
  color: #fff;
}
.lightbox-nav {
  position: absolute;
  color: #fff;
  padding: 5px;
  &:hover { color: $orange; }
}
.lightbox-nav_prev {
  left: 0;
  top: 0;
  &:before { content: '👈'; }
}
.lightbox-nav_next {
  right: 0;
  top: 0;
  &:after { content: '👉'; }
}
.lightbox-nav_dismiss {
  top: 0;
  left: 47%;
  font-size: 40px;
}