// TODO: Make this look good on phone
#lightbox-wrapper {
  position: fixed;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  &.inactive {  
    visibility: hidden;
  }
  &.active { 
    visibility: visible; 
    z-index: 10;
  }
}
.lightbox-content {
  position: relative;
  max-width: 500px;
  margin-top: 40px;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.lightbox-image {
  img {  box-shadow: 3px 15px 35px #000; }
}
.lightbox-image_title {
  margin-top: $space;
  color: #fff;
  &:before {
    content: '';
  }
  &:after {
    content: '';
  }
}
