.image-thumbnails {
  margin-top: $big-space;
}
.image-thumbnail {
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: $space;
  margin-left: 10px;
  transition: all 0.2s ease;
  a { display: block; }
  &:hover {
    transform: scale(1.02);
    box-shadow: 1px 2px 10px rgba($charcoal,0.6);
  }
}